body{
  overflow-y: scroll;
  background-color:#0d0d0d;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav {
  position:fixed;top:0;right:0;
  margin: 0 auto;
  background-color: #000;
  display:flex;
  flex-direction: row;
  height: 14vw;
  width:100vw;
  align-items: center;
  border-bottom:1px solid rgb(255,255,255,1);

}
nav{
  transition-duration: 0.4s;
  transition-property: border-color;
}
nav > div {
  width: 25vw;
  height: 100%;
  align-content: center;
  text-align: center;
  font-size: 4.2vw;
}
nav > div > a {
  align-content: center;
}
::-webkit-scrollbar {
  appearance: none;
  width: 0;
}
a{
  text-decoration:none;
}

@media (min-width:768px) {
  nav {
    position:fixed;top:0;right:0;
    margin: 0 auto;
    background-color: #000;
    display:flex;
    flex-direction: row;
    height: 8vw;
    width:100vw;
    align-items: center;
  }
  nav{
    transition-duration: 0.4s;
    transition-property: border-color;
    transition-timing-function: ease;
  }
  nav{
    border-bottom:1px solid rgb(255,255,255,0);
  }
  nav:hover{
    border-bottom:1px solid rgb(255,255,255,.5);
  }
  nav > div {
    width: 10vw;
    height: 100%;
    text-align: center;
    font-size: 18px;
  }
  nav > div > a {
    transition-duration: 0.18s;
    transition-property: color;
    transition-timing-function: ease;
  }
  nav > div:hover {
  }
  nav > div > a {
    text-align: center;
  }
  a{
    text-decoration:none;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background:rgb(0,0,0,0);
  }

  ::-webkit-scrollbar-track {
    background:#111;
  }
  ::-webkit-scrollbar-thumb {
    background:#222;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:#000;
  }

}
@media (min-width:1280px) {
  nav{
    height:5vw;
  }
  nav > div {
    width: 8vw;
    text-align: center;
    font-size: 1.40625vw;
  }
  ::-webkit-scrollbar {
    width: .9375vw;
  }

}
nav :link, nav :visited {
  color:#fff;
}


p, h1, h2{
  font-family: 'Source Sans Pro', sans-serif;
  color:#fff;
  font-weight: normal;
  padding:0;
  margin:0;
}

a:hover{
  color:#0c6219;
}
p, html{font-size: 16px}
h1{font-size:12.5vw}
h2{font-size:36px}
.fullwidthtext{padding: 0px 12px 0px 12px;}
.subtitle{padding: 18px 0px 18px 0px;}
@media (min-width:768px) {
  p, html{font-size: 20px}
  h1{font-size:48px}
  h2{font-size:40px}
  .fullwidthtext{padding: 0px 24px 0px 6px;}
  .subtitle{padding: 24px 0px 20px 0px;}
}
@media (min-width:1280px) {
  p, html{font-size: 24px}
  h1{font-size:5vw}
  h2{font-size:60px}
}

div{
  margin:0;padding:0;
}

.hometitle{
}
.hometitle > div {
}


footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: static;
  padding-top: 3rem;
  height:5rem;
  width: 100%;
  background-color: #000;
  color: #222;
  bottom: 0;
}

.footer-left{
width: 100%;
text-align:center;
}
.footer-right{
width:100%;
text-align:center;
height:3rem;
}
.footer-right > p > a{
  color:#fff;
  transition-duration: 0s;
  transition-property: color;
  transition-timing-function: ease;
}
.footer-right > p > a:hover{
  color:#0c6219;
}
.footer-text{
  color: #222;
}

@media (min-width:768px) {
  footer{
     flex-direction: row-reverse;
     align-items: center;
     padding-top: 2rem;
     height:4rem;
  }
  .footer-left{
  width: 45%;
  text-align:left;
  padding-left: 2vw;
  }
  .footer-right{
  width:55%;
  text-align:right;
  padding-right: 2vw;
  height:unset;
  }
  .footer-right > p > a{
    transition-duration: 0.18s;
  }
  .footer-text{
    color: #222;
  }

}

.homebutton-div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vw;
  align-items: center;
  color:#fff;
  font-size: 6vw;
  word-spacing: 0vw;
  width:100%;
}

.homebutton {
  background-color: #111;
  border: none;
  border-radius: 4.5vw;
  width: 36vw;
  height:9vw;
  margin: 0;
  color: white;
  font-size: 4.5vw;
  text-align: center;
}

.homebutton{
  transition-duration: 0s;
  transition-property: background-color;
}


@media (min-width:768px) {
  .homebutton-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vw;
    align-items: center;
    color:#fff;
    font-size: 3vw;
    word-spacing: 0vw;
  }
  .homebutton{
    transition-duration: 0.2s;
    border: none;
    border-radius: 2.5vw;
    color: white;
    width: 40%;
    height:5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
  }
}

.homebutton:hover{
  background-color:#222;
}

.science-bowl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

@media (min-width:768px) {
  .science-bowl {
    width: 60%;
  }
}

.tryout-info {
  border: 2px solid white;
  width: 75vw;
  padding:0.5rem;
  text-align: center;
}

.tryout-form {
  margin-top: 5vw;
  width: 75vw;
  height: 600px;
}


@media (min-width:768px) {
  .tryout-info {
    width: 60vw;
  }

  .tryout-form {
    width: 60vw;
  }

  .content {
  }
}

@media (min-width:1280px) {
  .content {
  }
}


.member-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95vw;
  margin:0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.member-image-div {
  width: 70%;
  height: 26rem;
}
.member-image {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.member-text {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.member-desc {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width:768px) {
  .member {
    width: 38rem;
    height: 28rem;
    justify-content: space-between;
  }
  .member:nth-child(odd){
    flex-direction: row;
    text-align: left;
  }
  .member:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
  }
  .member-image-div {
    width: 45%;
    height: 100%;
  }
  .member-image {
    width: 100%;
    height: 100%;
  }
  .member-text {
    width: 50%;
  }
  .member-name {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .member-desc {
    padding:0;
  }
}

.pagetitle{
  padding-top: 7vw;
  padding-bottom: 7vw;
}
@media (min-width:768px) {
  .pagetitle{
    padding-top: 25.6px ;
    padding-bottom: 76.8px;
  }
}
@media (min-width:1280px) {
  .pagetitle{
    padding-top: 2vw;
    padding-bottom: 6vw;
  }
}

.tryout-date{
  color:#0c6219;
}
